[submodule "collision_free_ik"]
	path = real_demo/collision_free_ik
	url = https://github.com/kevinzakka/mink.git
[submodule "math_utils"]
	path = real_demo/math_utils
	url = https://github.com/alinjar1996/math_utils_aks_lab
[submodule "real_demo/MLP_projection"]
	path = real_demo/MLP_projection
	url = https://github.com/alinjar1996/Training_pi_mppi.git
	branch = issue_1_biped_torque_QP
